In [2]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 74kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 46.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=d229742e621e0d3d05fac8202c8fa0dc465b780eccdd14085fbc44ba6e69cb82
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

### Create Resilient Distributed Datasets (RDD)

##### Method 1
using *parallelize()* function

In [7]:
from pyspark.sql import SparkSession

# Creating a Spark Session
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

In [8]:
# Spark Details
spark

In [9]:
# Creating RDD using parallelize function

df = spark.sparkContext.parallelize([(1, 2, 3, 'a b c'),
(4, 5, 6, 'd e f'),
(7, 8, 9, 'g h i')]).toDF(['col1', 'col2', 'col3','col4'])

In [10]:
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [12]:
myData = spark.sparkContext.parallelize([(1,2), (3,4), (5,6), (7,8), (9,10)])
myData.collect()

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

##### Method 2
using *createDateFrame()* function

In [13]:
Employee = spark.createDataFrame([
('1', 'Joe', '70000', '1'),
('2', 'Henry', '80000', '2'),
('3', 'Sam', '60000', '2'),
('4', 'Max', '90000', '1')],
['Id', 'Name', 'Sallary','DepartmentId']
)

In [15]:
Employee.show()

+---+-----+-------+------------+
| Id| Name|Sallary|DepartmentId|
+---+-----+-------+------------+
|  1|  Joe|  70000|           1|
|  2|Henry|  80000|           2|
|  3|  Sam|  60000|           2|
|  4|  Max|  90000|           1|
+---+-----+-------+------------+

##### Method 3
using *read* and *load* functions

The data for this part is used from FORCE 2020 Machine Learning Contest with Wells and Seismic

(https://www.npd.no/en/force/events/machine-learning-contest-with-wells-and-seismic/)

To know more about the data, please visit: https://xeek.ai/challenges/force-well-logs/overview

In [19]:
!pip install gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.6/dist-packages (3.6.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from gdown) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gdown) (1.24.3)

In [20]:
! gdown -O lecture_5_log_data.csv https://drive.google.com/uc?id=1YVq71iUjSjqyqJtkmSRbC9NLMCrx0478

Downloading...
From: https://drive.google.com/uc?id=1YVq71iUjSjqyqJtkmSRbC9NLMCrx0478
To: /content/lecture_5_log_data.csv
280MB [00:05, 54.6MB/s]

In [66]:
df = spark.read.format('csv').options(header='true', inferschema='true').load("lecture_5_log_data.csv",header=True, sep = ';')
df.show(5)
df.printSchema()

+-------+--------+------------+---------+------------+------------+---------+------------+----+------------+------------+------------+------------+----+----+------------+------------+------------+----+------------+----+----+------------+---------+----+----+----+--------------------------------+---------------------------------+
|   WELL|DEPTH_MD|       X_LOC|    Y_LOC|       Z_LOC|       GROUP|FORMATION|        CALI|RSHA|        RMED|        RDEP|        RHOB|          GR| SGR|NPHI|         PEF|         DTC|          SP|  BS|         ROP| DTS|DCAL|        DRHO|MUDWEIGHT|RMIC|ROPA| RXO|FORCE_2020_LITHOFACIES_LITHOLOGY|FORCE_2020_LITHOFACIES_CONFIDENCE|
+-------+--------+------------+---------+------------+------------+---------+------------+----+------------+------------+------------+------------+----+----+------------+------------+------------+----+------------+----+----+------------+---------+----+----+----+--------------------------------+---------------------------------+
|15/9-13| 494.528|437641.96875|6470972.5|-469.5018311|NORDLAND GP.|     null|19.480834961|null|1.6114097834|1.7986813784| 1.884185791| 80.20085144|null|null|20.915468216|161.13117981|24.612379074|null| 34.63640976|null|null|-0.574927628|     null|null|null|null|                           65000|                              1.0|
|15/9-13|  494.68|437641.96875|6470972.5|-469.6538086|NORDLAND GP.|     null|19.468799591|null|1.6180702448|1.7956413031|1.8897935152|79.262886047|null|null|19.383012772|160.60346985|23.895530701|null| 34.63640976|null|null|-0.570188403|     null|null|null|null|                           65000|                              1.0|
|15/9-13| 494.832|437641.96875|6470972.5|-469.8057861|NORDLAND GP.|     null|19.468799591|null|1.6264585257|1.8007333279|1.8965227604|74.821998596|null|null|22.591518402| 160.1736145| 23.91635704|null|34.779556274|null|null|-0.574245155|     null|null|null|null|                           65000|                              1.0|
|15/9-13| 494.984|437641.96875|6470972.5|-469.9577942|NORDLAND GP.|     null|19.459281921|null|1.6215940714|1.8015166521| 1.891912818|72.878921509|null|null| 32.19190979|160.14942932| 23.79368782|null|39.965164185|null|null|-0.586315274|     null|null|null|null|                           65000|                              1.0|
|15/9-13| 495.136|437641.96875|6470972.5|-470.1097717|NORDLAND GP.|     null|19.453100204|null|1.6026790142|1.7952990532|1.8800340891|71.729141235|null|null|38.495632172|160.12834167|24.104078293|null|57.483764648|null|null|-0.597913623|     null|null|null|null|                           65000|                              1.0|
+-------+--------+------------+---------+------------+------------+---------+------------+----+------------+------------+------------+------------+----+----+------------+------------+------------+----+------------+----+----+------------+---------+----+----+----+--------------------------------+---------------------------------+
only showing top 5 rows

root
 |-- WELL: string (nullable = true)
 |-- DEPTH_MD: double (nullable = true)
 |-- X_LOC: double (nullable = true)
 |-- Y_LOC: double (nullable = true)
 |-- Z_LOC: double (nullable = true)
 |-- GROUP: string (nullable = true)
 |-- FORMATION: string (nullable = true)
 |-- CALI: double (nullable = true)
 |-- RSHA: double (nullable = true)
 |-- RMED: double (nullable = true)
 |-- RDEP: double (nullable = true)
 |-- RHOB: double (nullable = true)
 |-- GR: double (nullable = true)
 |-- SGR: double (nullable = true)
 |-- NPHI: double (nullable = true)
 |-- PEF: double (nullable = true)
 |-- DTC: double (nullable = true)
 |-- SP: double (nullable = true)
 |-- BS: double (nullable = true)
 |-- ROP: double (nullable = true)
 |-- DTS: double (nullable = true)
 |-- DCAL: double (nullable = true)
 |-- DRHO: double (nullable = true)
 |-- MUDWEIGHT: double (nullable = true)
 |-- RMIC: double (nullable = true)
 |-- ROPA: double (nullable = true)
 |-- RXO: double (nullable = true)
 |-- FORCE_2020_LITHOFACIES_LITHOLOGY: integer (nullable = true)
 |-- FORCE_2020_LITHOFACIES_CONFIDENCE: double (nullable = true)

##### Creating Spark Dataframe using dict

In [34]:
d = {'A': [0, 1, 0],
'B': [1, 0, 1],
'C': [1, 0, 0]}

In [36]:
import numpy as np
spark.createDataFrame(np.array(list(d.values())).T.tolist(),list(d.keys())).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  1|
|  1|  0|  0|
|  0|  1|  0|
+---+---+---+

In [67]:
print (df.head(4))

print (df.columns)

print (df.dtypes)

[Row(WELL='15/9-13', DEPTH_MD=494.528, X_LOC=437641.96875, Y_LOC=6470972.5, Z_LOC=-469.5018311, GROUP='NORDLAND GP.', FORMATION=None, CALI=19.480834961, RSHA=None, RMED=1.6114097834, RDEP=1.7986813784, RHOB=1.884185791, GR=80.20085144, SGR=None, NPHI=None, PEF=20.915468216, DTC=161.13117981, SP=24.612379074, BS=None, ROP=34.63640976, DTS=None, DCAL=None, DRHO=-0.574927628, MUDWEIGHT=None, RMIC=None, ROPA=None, RXO=None, FORCE_2020_LITHOFACIES_LITHOLOGY=65000, FORCE_2020_LITHOFACIES_CONFIDENCE=1.0), Row(WELL='15/9-13', DEPTH_MD=494.68, X_LOC=437641.96875, Y_LOC=6470972.5, Z_LOC=-469.6538086, GROUP='NORDLAND GP.', FORMATION=None, CALI=19.468799591, RSHA=None, RMED=1.6180702448, RDEP=1.7956413031, RHOB=1.8897935152, GR=79.262886047, SGR=None, NPHI=None, PEF=19.383012772, DTC=160.60346985, SP=23.895530701, BS=None, ROP=34.63640976, DTS=None, DCAL=None, DRHO=-0.570188403, MUDWEIGHT=None, RMIC=None, ROPA=None, RXO=None, FORCE_2020_LITHOFACIES_LITHOLOGY=65000, FORCE_2020_LITHOFACIES_CONFIDENCE=1.0), Row(WELL='15/9-13', DEPTH_MD=494.832, X_LOC=437641.96875, Y_LOC=6470972.5, Z_LOC=-469.8057861, GROUP='NORDLAND GP.', FORMATION=None, CALI=19.468799591, RSHA=None, RMED=1.6264585257, RDEP=1.8007333279, RHOB=1.8965227604, GR=74.821998596, SGR=None, NPHI=None, PEF=22.591518402, DTC=160.1736145, SP=23.91635704, BS=None, ROP=34.779556274, DTS=None, DCAL=None, DRHO=-0.574245155, MUDWEIGHT=None, RMIC=None, ROPA=None, RXO=None, FORCE_2020_LITHOFACIES_LITHOLOGY=65000, FORCE_2020_LITHOFACIES_CONFIDENCE=1.0), Row(WELL='15/9-13', DEPTH_MD=494.984, X_LOC=437641.96875, Y_LOC=6470972.5, Z_LOC=-469.9577942, GROUP='NORDLAND GP.', FORMATION=None, CALI=19.459281921, RSHA=None, RMED=1.6215940714, RDEP=1.8015166521, RHOB=1.891912818, GR=72.878921509, SGR=None, NPHI=None, PEF=32.19190979, DTC=160.14942932, SP=23.79368782, BS=None, ROP=39.965164185, DTS=None, DCAL=None, DRHO=-0.586315274, MUDWEIGHT=None, RMIC=None, ROPA=None, RXO=None, FORCE_2020_LITHOFACIES_LITHOLOGY=65000, FORCE_2020_LITHOFACIES_CONFIDENCE=1.0)]
['WELL', 'DEPTH_MD', 'X_LOC', 'Y_LOC', 'Z_LOC', 'GROUP', 'FORMATION', 'CALI', 'RSHA', 'RMED', 'RDEP', 'RHOB', 'GR', 'SGR', 'NPHI', 'PEF', 'DTC', 'SP', 'BS', 'ROP', 'DTS', 'DCAL', 'DRHO', 'MUDWEIGHT', 'RMIC', 'ROPA', 'RXO', 'FORCE_2020_LITHOFACIES_LITHOLOGY', 'FORCE_2020_LITHOFACIES_CONFIDENCE']
[('WELL', 'string'), ('DEPTH_MD', 'double'), ('X_LOC', 'double'), ('Y_LOC', 'double'), ('Z_LOC', 'double'), ('GROUP', 'string'), ('FORMATION', 'string'), ('CALI', 'double'), ('RSHA', 'double'), ('RMED', 'double'), ('RDEP', 'double'), ('RHOB', 'double'), ('GR', 'double'), ('SGR', 'double'), ('NPHI', 'double'), ('PEF', 'double'), ('DTC', 'double'), ('SP', 'double'), ('BS', 'double'), ('ROP', 'double'), ('DTS', 'double'), ('DCAL', 'double'), ('DRHO', 'double'), ('MUDWEIGHT', 'double'), ('RMIC', 'double'), ('ROPA', 'double'), ('RXO', 'double'), ('FORCE_2020_LITHOFACIES_LITHOLOGY', 'int'), ('FORCE_2020_LITHOFACIES_CONFIDENCE', 'double')]

In [79]:
print('Shape of Pandas: ',df.toPandas().shape)

Shape of Pandas:  (1170511, 29)

In [80]:
# Finding null values in a column
from pyspark.sql.functions import col
df.where(col("NPHI").isNull()).toPandas().shape

(405102, 29)

In [88]:
# Renaming Column Names
mapping = {'FORMATION':'formation','DEPTH_MD':'depth'}
new_names = [mapping.get(col,col) for col in df.columns]

df.toDF(*new_names).show(4)

+-------+-------+------------+---------+------------+------------+---------+------------+----+------------+------------+------------+------------+----+----+------------+------------+------------+----+------------+----+----+------------+---------+----+----+----+--------------------------------+---------------------------------+
|   WELL|  depth|       X_LOC|    Y_LOC|       Z_LOC|       GROUP|formation|        CALI|RSHA|        RMED|        RDEP|        RHOB|          GR| SGR|NPHI|         PEF|         DTC|          SP|  BS|         ROP| DTS|DCAL|        DRHO|MUDWEIGHT|RMIC|ROPA| RXO|FORCE_2020_LITHOFACIES_LITHOLOGY|FORCE_2020_LITHOFACIES_CONFIDENCE|
+-------+-------+------------+---------+------------+------------+---------+------------+----+------------+------------+------------+------------+----+----+------------+------------+------------+----+------------+----+----+------------+---------+----+----+----+--------------------------------+---------------------------------+
|15/9-13|494.528|437641.96875|6470972.5|-469.5018311|NORDLAND GP.|     null|19.480834961|null|1.6114097834|1.7986813784| 1.884185791| 80.20085144|null|null|20.915468216|161.13117981|24.612379074|null| 34.63640976|null|null|-0.574927628|     null|null|null|null|                           65000|                              1.0|
|15/9-13| 494.68|437641.96875|6470972.5|-469.6538086|NORDLAND GP.|     null|19.468799591|null|1.6180702448|1.7956413031|1.8897935152|79.262886047|null|null|19.383012772|160.60346985|23.895530701|null| 34.63640976|null|null|-0.570188403|     null|null|null|null|                           65000|                              1.0|
|15/9-13|494.832|437641.96875|6470972.5|-469.8057861|NORDLAND GP.|     null|19.468799591|null|1.6264585257|1.8007333279|1.8965227604|74.821998596|null|null|22.591518402| 160.1736145| 23.91635704|null|34.779556274|null|null|-0.574245155|     null|null|null|null|                           65000|                              1.0|
|15/9-13|494.984|437641.96875|6470972.5|-469.9577942|NORDLAND GP.|     null|19.459281921|null|1.6215940714|1.8015166521| 1.891912818|72.878921509|null|null| 32.19190979|160.14942932| 23.79368782|null|39.965164185|null|null|-0.586315274|     null|null|null|null|                           65000|                              1.0|
+-------+-------+------------+---------+------------+------------+---------+------------+----+------------+------------+------------+------------+----+----+------------+------------+------------+----+------------+----+----+------------+---------+----+----+----+--------------------------------+---------------------------------+
only showing top 4 rows